@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-yellow {
    background-color: #F6E300;
}

.button {
    background-color: white;
    color: #F4241E;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}

.navbar-nav a {
    color: black;
}

.z-index {
    z-index: -1;
}

.bg-img {
    background-image: url(/assets/images/burgers.png);
    background-size: 100% 100%;

}

.ff-poppins {
    font-family: "poppins";
}

:hover.nav-link {
    color: red !important;
}

.transform-y-axis-50 {
    transform: scale(y -50);
}

.bg-color-lightyellow {
    background-color: #FFF03F;
}

.max-width-591px {
    max-width: 591px;
}

.bg-red {
    background-color: #F4241E !important;
}



.opacity {
    opacity: 0.8;
}

.bg-img {
    background-image: url(/assets/images/Group\ 9154.png);
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(255, 0, 0);
    top: 30px;
    bottom: 25%;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: rgb(255, 255, 255);
    top: 4px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}


/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 12PX 12px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.accoedian-colors {
    color: black !important;
    background-color: #FFF03F !important;
}

.accordian-heading-font {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.max-width-896px {
    max-width: 896px;
}

.padding-right-50px {
    padding-right: 60px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 17px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

}